@media only screen and (max-width: 991px) {
    .s_c {
        padding-top: 40px;
    }
}

.page-enter {
    transform: translateY(100%);
}

.page-enter-active {
    transform: translateY(0%);
    transition: all 400ms ease-out;
}

.page-exit {
    transform: translateY(0%);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.page-exit-active {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transform: translateY(-130%);
    transition: all 400ms ease-out;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}

.intro-container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}


.intro-image {
    width: 100%; /* Make the image responsive */
    max-width: 300px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%; /* Optional: make the image circular */
    object-fit: cover; /* Ensure the image covers the entire container without distortion */
    margin: 0 auto; /* Center the image if it's inside a flexbox or text-align:center container */
    display: block; /* Center the image with margin auto */
}